
VERIFY_TOKEN=EFAR_WEBHOOK_2025
PHONE_NUMBER_ID=1174469149077170
ACCESS_TOKEN=EAAU3f582QzcBR4uoqi7DDYCCmfN6whV1YFUAtp1ZBwTdRvOZAekk0O8e6KFo6woEJroKhytrBfa2n1YZAXWHYw6pTgJTGHWRpiW7S3rBYf1GLUX5eDb6k6Kl8tzqnZAqblcSjrNBO5JTRKH7mMLdoAIdZB75LixxZA9e9j86mdadlmpoDkts5BQYEenjlrLthpkgZDZD
APP_SECRET=878558de8f8345e373ad8e9214947d45
PORT=5001